---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


.DropShadowed {
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1,
Color='#000')";
  filter: url(#drop-shadow);
  -webkit-filter: drop-shadow( 0px 0px 1px #000 );
  filter: drop-shadow( 0px 0px 1px #000 );
}
/*
(10px 10px 5px #888888);
*/
.Albums{
  width: 100%;
}
.Album{
  width: 50%;
  display: block;
  float: left;
  border: solid 1px #ccc;
  padding: 10px;
}
@media screen and (max-width: 801px) {
  .Album{
    width: 100%;
  }
}

.AlbumArt {
  border: none;
}

.AlbumArt.shadow {
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 38px 0px rgba(0,0,0,1);
}
.AlbumArt.linked {
  cursor: pointer;
}

.AlbumArt img {
  width: 100%;
  height: auto;
}




.Blog{
  margin-top: -50px;
  display: block;
  margin: 0px auto;
}

.Blog .BlogNav{
  margin-bottom: -40px;
}


.BlogItem {
  position: relative;
  display: block;
  margin: 0px auto;
  color: #444;
  &.full{
    background: #fff;
    width: 500px;
    margin-top: 30px;
    .BIOverlay{
      display: none;
    }
  }
  &.nav{
    .BIContent{
      border: solid 1px #aaa;
      border-bottom: none;
    }
  }
  &.Prev{
    visibility: hidden;
  }
  &.Next{
    visibility: hidden;
  }

  .BIContent{
    background: #fff;
    min-height: 40px;
    z-index: 1;
    overflow: hidden;
  }
  &.nav {
    .BIContent {
      height: 40px;
      min-height: 40px;
      z-index: 1;
      overflow: hidden;
      h1 {
        font-size: 8px;
      }
    }
    .BIOverlay{
      z-index: 10;
      position: relative;
      margin-bottom: -40px;
      background: #eee;
      opacity: 0.2;
      cursor: pointer;
    }

    &.active {
      .BIOverlay{
        margin-bottom: -60px;
      }
      .BIContent{
        height: 60px;
        min-height: 60px;
      }
    }
  }

  img {
      width: 100%;
      height: auto;
  }
  
}

.BlogList .BlogItem {
  display: inline-block;
  vertical-align: bottom;
  min-height: 20px;
}



.BlogItem.active .BIOverlay{
  border: solid 1px #bc0787;
  border-bottom: none;
  background: #000;
  opacity: 0.1;
}

.BlogItem.active.hover .BIOverlay{
  opacity: 0.3;
  background: #bc0787;
}
.BlogItem.hover .BIOverlay{
  background-color: #bc0787;
  opacity: 0.7;
  transition: background-color .5s ease-in;
  transition: opacity .2s ease-in;
}


.BlogList{
  position: relative;
  margin: 0px auto;
  overflow: hidden;
  overflow-x: scroll;
/*  -ms-overflow-style: none;*/
}

.BlogListInner{
 background: transparent;
}



.BlogArrow{
  font-family: "Roboto Mono";
  font-size: 10px;
  height: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-bottom: solid 1px #aaa; 
}

.BlogItem.active .BlogArrow{
  border-bottom: solid 5px #bc0787; 
}

.BlogArrow .arrow{
  margin: 0px auto;
  display: block;
}



.trans_blogitem-enter {
  opacity: 0.01;
}

.trans_blogitem-enter.trans_blogitem-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.trans_blogitem-leave {
  opacity: 1;
}

.trans_blogitem-leave.trans_blogitem-leave-active {
  opacity: 0.1;
  transition: opacity .5s ease-in;
  display: none;
}
















  * {
    padding:0;
    margin:0;
  }

  html, body {
    height:100%;
  }

  .skrollr-desktop body {
    height:100% !important;
  }

  body {
    font-family:sans-serif;
  }

  p {
    margin:1em 0;
  }

  .parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;
  }

  .parallax-image-wrapper-50 {
    height:50%;
    top:-50%;
  }

  .parallax-image-wrapper-100 {
    height:100%;
    top:-100%;
  }

  .parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
  }

  .parallax-image-50 {
    height:200%;
    top:-50%;
  }

  .parallax-image-100 {
    height:100%;
    top:0;
  }

  .parallax-image.skrollable-between {
    display:block;
  }

  .no-skrollr .parallax-image-wrapper {
    display:none !important;
  }

  #sc-body {
    height:100%;
    overflow:visible;
    position:relative;
  }

  .gap {
    background:transparent center no-repeat;
    background-size:cover;
  }

  .skrollr .gap {
    background:transparent !important;
  }

  .gap-50 {
    height:50%;
  }

  .gap-100 {
    height:100%;
  }

  .header, .content {

    padding:1em;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

  .content-full {
    height:100%;
  }

  #done {
    height:100%;
  }



  .header, .content {
    background:transparent;
    padding:1em;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

  .transparent{
    background: transparent !important;
  }

  .content-full {
    height:100%;
  }

  #done {
    height:100%;
  }

  #main_logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #fff;
  }

  #main_logo img{
     width: 200px;
     margin: 0 auto;
     -webkit-filter: drop-shadow( 0px 0px 2px #000 );
     filter: drop-shadow( 0px 0px 2px #000 ); /* Same syntax as box-shadow */
  }
  body{
    font-family: 'Raleway', Helvetica, sans-serif;
    background: #fff;
  }

  .albumbg{
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 38px 0px rgba(0,0,0,1);
  }

  body{
    min-width: 600px;
  }
  #sc-body{
    min-width: 600px;
  }


  





