<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
  {% include head_secondary.html %}
  <body>
    {% include header.html %}

    <div style="width: 100%; padding: 20px 40px;">
    	
    	<img src="/images/logo.svg" className="DropShadowed" style="display: block; height: 100px;" /> 
        <div className="DropShadowed" style="font-size: 36px; color: #111;" >
            FAMILIAR WILD
		</div>
    </div>
    <div style="width: 100%; padding: 0px 40px; padding-bottom: 100px;">
    {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>